<ion-header>
  <ion-toolbar>
      <ion-button slot="start" fill="clear" routerLink="/home">
        <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-button>
    <ion-title >
      Participante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cont-content">
    <div class="succes-alert">
      <ion-icon  name="checkmark-circle-outline"  color="success" ></ion-icon>
      <h5><strong>Thank You</strong></h5>
      <p>Your submission has been received.</p>
      <p (click)="allData()">ver registros</p>
    </div>
  </div>
</ion-content>
