
.img-title{
  width: 120px;
}
ion-content {
  --background: linear-gradient(rgb(242, 242, 253), #f4f5f8);
}

.head-content{
  text-align: center;

  .img-head-content{
    margin-top: 4rem;
  }

  .txt-head-content{
    @font-face {
      font-family: "Roboto";
      src: url('../../assets/Roboto/Roboto-Bold.ttf');
    }

    h3{
      color:rgb(10, 21, 81);
    }

    p{
      color: rgba(10, 21, 81, 0.7)
    }
  }
}

.cont-content{

     .form{
       margin: auto !important;
        height: 75% !important;
        width: 90%;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        color:rgb(10, 21, 81);
        padding: 10px;

        .form-title{
          padding: 5px;
          font-size: 1.3rem;
        }
     }

     .form-btn{
      margin-top: 1rem;
      padding: 5px;
      border: 1px solid #f4f5f8;
      .label{
        color:rgb(10, 21, 81);
      }

     }


     .form-foot{
      margin-top: 12rem !important;
      text-align: center;
      margin: auto !important;
    }
}
